.timeContainer {
    height: 100vh;
    position: relative;
}

.bigCard {
    top: 50%;
    border: 1px solid black;
    width: 75%;
    position: absolute;
    right: 12.5%;
    height: 75%;
    transform: translateY(-50%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
